body {font-family: 'Roboto', sans-serif;}
html { overflow-y: inherit !important;  }
.displayFlex {display: flex;align-items: center;}
.fontW { font-weight: 700;width: 100px;font-size: 12px !important; color: black !important;border-left: 1px solid #eee;padding-left: 10px;}
.fS22 {font-size: 22px;font-weight: bold;margin-bottom: 15px;margin-top: 8px;}
.fS17 {font-size: 17px;}
.fS14 {font-size: 14px;color: #9da0a7;}
span {margin-left: 6px; margin-right: 6px;}
img {width: 25px;}
.maxWi {max-width: 180px;}
.displayFlex div { display: grid;}
.return { 
  position: fixed;
  right: 0;
  bottom: 20px;
  padding: 10px;
  border: 0;
}
.create {
  padding: 10px;
  border: 0;
  position: absolute;
  left: 100px;
}
button:focus {
  outline: inherit;
}
.noEx {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  font-size: 15px;
  color: #9da0a7;
  font-weight: 700;
}
div.boxes {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
div.separator {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BUTTONS */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  margin: 5px;
  user-select: none;
  vertical-align: middle;
  z-index: 1;
  transition: .3s ease-out;
}

.btn, .btn-large, .btn-small {
  text-decoration: none;
  color: #fff;
  background-color: #009EE0;
  text-align: center;
  letter-spacing: .5px;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.btn, .btn-large, .btn-small, .btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.btn, .btn-large, .btn-small {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.right {
  float: right;
  margin-top: 0px;
  padding: 8px;
}
.material-icons {
  font-size: 18px;
}


/* Search */
.search__container {
  padding-top: 64px;
}
.search__input {
  width: 100%;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.search__input::placeholder {
  color: color(#575756 a(0.8));
}

/* LOAD */
.loading {
  width: 90px;
  height: 90px;
}
.loading div {
  position: absolute;
  width: 75px;
  height: 75px;
  margin: 6px;
  border: 6px solid #cef;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cef transparent transparent transparent;
}
.loading div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}