<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="res/main.css" type="text/css" />
  <link href="//cdn.jsdelivr.net/combine/npm/@zendeskgarden/css-bedrock,npm/@zendeskgarden/css-grid,npm/@zendeskgarden/css-buttons,npm/@zendeskgarden/css-forms,npm/@zendeskgarden/css-utilities"
    rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
</head>

<body>
  <div class="input-field">
    <input class="search__input" type="text" placeholder="Buscar usuario por télefono o email">
  </div>
  <div id="labels">
  </div>
  <script id="load-template" type="text/x-handlebars-template">
    <div class="separator"><div class="loading"><div></div><div></div><div></div><div></div></div></div>
  </script>
  <script id="selector-template" type="text/x-handlebars-template">
    <div id="selector">
      <div class="boxes">
        {{#each contacts}}
        <button class="btn waves-effect waves-light" name="{{value}}">{{firstName}} {{lastName}}</button>
        {{/each}}
      </div>
    </div>
  </script>
  <script id="errorTlfPress-template" type="text/x-handlebars-template">
    <div class="separator"><span class="noEx">No es válido el número {{ tlf }} introducido.</span></div>
  </script>
  <script id="errorMailPress-template" type="text/x-handlebars-template">
    <div class="separator"><span class="noEx">No es válido el mail {{ mail }} introducido.</span></div>
  </script>
  <script id="errorTlf-template" type="text/x-handlebars-template">
    <div class="separator"><span class="noEx">No tenemos información sobre este cliente con télefono {{ tlf }}</span></div>
    <button class="create" onclick="createContact(tlf)">Crear usuario</button>
  </script>
  <script id="errorMail-template" type="text/x-handlebars-template">
    <div class="separator"><span class="noEx">No tenemos información sobre este cliente con email {{ mail }}</span></div>
    <button class="create" onclick="createContact(mail)">Crear usuario</button>
  </script>
  <script id="panelLabel-template" type="text/x-handlebars-template">
    <div class="displayFlex fS22"><span>{{firstName}} {{lastName}}</div>
      {{#if id}}
      <div class="displayFlex fS14">
          <span class="fontW">ID</span>
          <span class="maxWi">{{id}}</span>
        </div>
      {{/if}}
      {{#if birthdate}}
      <div class="displayFlex fS14">
        <span class="fontW">NACIMIENTO</span>
        <span class="maxWi">{{birthdate}}</span>
      </div>
      {{/if}}
      {{#if sex}}
      <div class="displayFlex fS14">
        <span class="fontW">GÉNERO</span>
        <span class="maxWi">{{sex}}</span>
      </div>
      {{/if}}
      {{#if email}}
      <div class="displayFlex fS14">
        <span class="fontW">E-MAIL</span>
        <span class="maxWi">{{email}}</span>
      </div>
      {{/if}}
      {{#if operatorId}} 
      <div class="displayFlex fS14">
        <span class="fontW">OPERADOR ID</span>
        <span class="maxWi">{{operatorId}}</span>
      </div>
      {{/if}}
      {{#if signUpDate}}
      <div class="displayFlex fS14">
        <span class="fontW">REGISTRO</span>
        <span class="maxWi">{{signUpDate}}</span>
      </div>
      {{/if}}
      {{#if origin}} 
      <div class="displayFlex fS14">
        <span class="fontW">ORIGIN</span>
        <span class="maxWi">{{origin}}</span>
      </div>
      {{/if}}
      {{#if plan}}
      <div class="displayFlex fS14">
        <span class="fontW">PLAN</span>
        <span class="maxWi">{{plan}}</span>
      </div>
      {{/if}}
      {{#if collective}}
      <div class="displayFlex fS14">
        <span class="fontW">CORPORACIÓN</span>
        <span class="maxWi">{{collective}}</span>
      </div>
      {{/if}}
      {{#if agreesToReceiveNotifications}}
      <div class="displayFlex fS14">
        <span class="fontW">NOTIFICACIÓN</span>
        <span class="maxWi">{{agreesToReceiveNotifications}}</span>
      </div>
      {{/if}}
      {{#if telephones}}
      <div class="displayFlex fS14">
        <span class="fontW">TELEFONOS</span>
        <div>
          {{#each telephones}}
          <span class="maxWi">{{tlf}}</span>
          {{/each}}
        </div>
      </div>
      {{/if}}
      {{#if value}}
      <button class="return" onclick="Return()">Atrás</button>
      {{/if}}
  </script>
</body>
<script type="text/javascript" src="https://assets.zendesk.com/apps/sdk/2.0/zaf_sdk.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/es.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="lib/main.js"></script>

</html>